<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-primary">
        <a class="navbar-brand" href="#">Fixed top</a>
    </nav>
    <div class="mainBody">
        <p>Express up and running</p>
        <img src="/images/shahadat-rahman-gnyA8vd3Otc-unsplash.jpg" alt="programming" srcset="">
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>